@use "../abstracts/variables" as *;
$url: "../../assets/fonts/";
$GlacialIndifference: 'GlacialIndifference';

.font-size-xs,
.font-size-sm,
.font-size-md,
.font-size-lg,
.font-size-xl,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font-clr-primary;
    font-family: 'GlacialIndifference';

}

p {
    font-size: 22px;
    letter-spacing: 0.008em;
}

.font-size-xs {

    // imported by labels
    &,
    &::before,
    &::after {
        font-size: $font-size-xs;
    }
}

.font-size-sm {

    &,
    &::before,
    &::after {
        font-size: $font-size-sm;
    }
}

.font-size-md {

    &,
    &::before,
    &::after {
        font-size: $font-size-md;
    }
}

.font-size-lg {

    &,
    &::before,
    &::after {
        font-size: $font-size-lg;
    }
}

.font-size-xl {

    &,
    &::before,
    &::after {
        font-size: $font-size-xl;
    }
}

h1 {
    font-size: 72px;
    // font-family: 'GlacialIndifference';
    // font-weight: 700;
    letter-spacing: 0.24em;
    // line-height: 56px;
}

h2 {
    font-size: 72px;
    // font-family: 'GlacialIndifference';
    // font-weight: 700;
    letter-spacing: 0.24em;
}

h3 {
    font-size: 26px;
    // font-family: 'GlacialIndifference';
    // font-weight: 700;
    letter-spacing: 0.2em;

}

h4 {
    font-size: 15px;
    // font-family: 'GlacialIndifference';
    // font-weight: 400;
}

// h5 {
// font-size: 
// }

// h6 {
// font-size: 
// }

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.text-underline {
    text-decoration: underline;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

// break here
@font-face {
    font-family: 'GlacialIndifference';
    font-style: normal;
    font-weight: 500;
    src: url($url + $GlacialIndifference + '/GlacialIndifference-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'GlacialIndifference';
    font-style: italic;
    font-weight: 500;
    src: url($url + $GlacialIndifference + '/GlacialIndifference-Italic.otf') format('truetype');
}

@font-face {
    font-family: 'GlacialIndifference';
    font-style: bold;
    font-weight: 900;
    src: url($url + $GlacialIndifference + '/GlacialIndifference-Bold.otf') format('truetype');
}
 

@media (min-width: 576px) {}

@media (min-width: 768px) {
     h1
    {
    font-size: 60px;

    }
    
    h2 
    {
    font-size: 52px;

    }

}

@media (min-width: 992px) {
 
    h2 
    {
    font-size: 62px;

    }
    h1,h2,h3,h4,p 
    {
        // transform: scale(0.9);
    }

}

@media (min-width: 1200px) {
      
}

 