#my-canvas {
	padding: 25px 0 60px 60px;

	.img-video {
		background-image: url('https://placehold.co/420x540/000000/FFF');
		height: 540px;
		margin-left: -40px;
		width: 420px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		video {
			width: 420px;
			height: 540px;
			object-fit: cover;
			border-radius: 8px;

			&.lazy-video {
				background: #f0f0f0;
				opacity: 0.7;
			}
		}
	}

	h2 {

		// letter-spacing: 0.24em;

	}


	@media (min-width: 576px) {
		padding: 25px;

		.col-sm-show {
			display: unset;
		}

		.col-sm-hide {
			display: none;
		}

		p {
			padding: 0;
			text-align: center;
		}

		.img-video {
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) {
		.col-img-video {
			display: flex;
			justify-content: center;
		}
	}

	@media (min-width: 992px) {
		.img-video {
			transform: scale(0.8);
		}

		.col-sm-show {
			display: none;
		}

		.col-sm-hide {
			display: unset;
		}

		p {
			// padding-right: 70px;
		}
	}

	@media (min-width: 1200px) {}

}