#my-canvas {
	padding: 25px 0 60px 60px;

	.img-video {
		width: 420px;
		height: 540px;
		background-image: url('https://placehold.co/420x540/000000/FFF');
		margin-left: -40px;
	}

	h2 {

		// letter-spacing: 0.24em;

	}
}