#contact {
	padding: 15px;

	h2 {
		font-size: 60px;
		padding: 45px 0 0 30px;
	}

	.img-bg {
		background-image: url('https://placehold.co/345x590/000000/FFF');
		background-position: center;
		background-size: cover;
		height: 590px;
		margin-left: auto;
		object-fit: cover;
		position: relative;
		width: 345px;
	}

	.img-splash {
		background-image: url('https://placehold.co/305x465/555555/777');
		background-position: center;
		background-size: cover;
		height: 465px;
		margin-left: auto;
		margin-top: 70px;
		object-position: center;
		position: absolute;
		right: 280px;
		width: 305px;
	}

	.contact-details {
		bottom: 0;
		margin-left: 30px;
		margin-top: auto;
		position: absolute;

		h3 {
			font-size: 22px;
			margin-bottom: 5px;
		}

		ul {
			margin-bottom: 30px;
		}

		li {}
	}


	@media (max-width: 576px) {
		h2 {
			font-size: 34px;
			padding-left: 0;
			text-align: center;
		}

		.contact-details {
			margin-left: 0;
			position: relative;
			text-align: center;
		}


		.img-bg {
			left: 0;
			margin: auto;
			position: relative;
			right: 0;
			width: 100%;
		}

		.img-splash {
			left: 0;
			margin: auto;
			right: 0;
			width: unset;
		}
	}

	@media (min-width: 576px) {
		h2 {
			// font-size: 34px;
			text-align: center;
		}

		.contact-details {
			position: relative;
			text-align: center;
		}

		.img-bg {
			left: 0;
			margin: auto;
			position: relative;
			right: 0;
			width: 100%;
		}

		.img-splash {
			left: 0;
			margin: auto;
			right: 0;
			width: unset;
		}

	}

	@media (min-width: 768px) {
		h2 {
			text-align: center;
		}

		.img-bg {
			left: 0;
			right: 0;
		}

		.img-splash {
			left: 0;
			right: 0;
		}


		.contact-details {
			position: relative;
			text-align: center;
		}
	}

	@media (min-width: 992px) {
		h2 {
			text-align: left;
		}

		.contact-details {
			position: absolute;
			text-align: left;
		}

		.img-bg {
			left: unset;
			margin-left: auto;
			margin-right: 0;
			right: unset;
			width: 345px;

		}

		.img-splash {
			left: unset;
			margin-left: auto;
			right: 280px;
			right: unset;
			width: 305px;
		}

	}

	@media (min-width: 1200px) {}


}