#home-banner {
	background: url('../../assets/images/header-splash.jpg');
	height: 625px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 15px;

	h1 { 
		margin-top: 120px;
	}

	h2 {
		letter-spacing: 0.24em;
		font-size: 44px;
	}

	p {
		letter-spacing: 0.017em;
		font-size: 15px;
	}

	.mt-c-lg {
		margin-top: 165px;
	}

}