#home-banner .header {
	background: url('../../assets/images/header-splash.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;


	h1 {
		font-size: 70px;
		margin-top: 65px;
		text-transform: uppercase;
	}

	h2 {
		font-size: 40px;
		letter-spacing: 0.24em;
		margin-right: 12px;
		text-transform: uppercase;
	}
}

p {
	font-size: 15px;
	letter-spacing: 0.017em;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-c-lg {
	margin-top: 165px;
}

.img-self-portait {

	padding-left: 30px;
	text-align: right;

	img {
		margin-top: -30px;
	}
}


@media (min-width: 576px) {}

@media (min-width: 768px) {
	.mt-c-lg {
		margin-top: 65px;
	}

	p {}
}

@media (min-width: 0px) {
	.intro-blurb {
		padding-left: 30px;
	}

	#home-banner .header {
		h1 {
			font-size: 30px;
		}

		h2 {
			font-size: 24px;

		}
	}
}

// 576

@media (min-width: 768px) {
	.intro-blurb {
		padding-left: 0px;
	}

	.custom-blurb {
		padding-left: 100px;
	}

	.custom-blurb-1 {
		margin-left: -100px;
	}

	#home-banner .header {
		h1 {
			font-size: 60px;
		}

		h2 {
			font-size: 40px;

		}
	}

}

@media (min-width: 992px) {
	.intro-blurb {
		padding-left: 50px;
	}

	.custom-blurb {
		padding-left: 0;
	}

	.custom-blurb-1 {
		margin-left: 0;
	}

	#home-banner .header {
		h1 {
			font-size: 70px;
		}

		h2 {
			font-size: 40px;

		}
	}
}

@media (min-width: 1200px) {
	.intro-blurb {
		padding-left: 30px;
	}
}