#home-banner .header {
	background: url('../../assets/images/header-splash.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;


	h1 {
		font-size: 70px;
		margin-top: 65px;
		text-transform: uppercase;
	}

	h2 {
		font-size: 40px;
		letter-spacing: 0.24em;
		margin-right: 12px;
		text-transform: uppercase;
	}
}

p {
	font-size: 15px;
	letter-spacing: 0.017em;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-c-lg {
	margin-top: 165px;
}

.img-self-portait {

	padding-left: 30px;
	text-align: right;

	img {
		margin-top: -30px;
	}
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
	.mt-c-lg {
		margin-top: 65px;
	}

	p {}
}