#SITU {
	padding-bottom: 60px;
	h2 {
		font-size: 60px;
		padding: 50px 0 30px 0;
	}

	#situ-bg {
		background-image: url('../../assets/images/situ-bg.webp');
		background-position: center;
		background-size: cover;
		width: 700px;
		height: 450px;
		position: relative;
	}

	#situ {
		background-image: url('https://placehold.co/180x200/9999999/000');
		background-position: center;
		background-size: cover;
		width: 180px;
		height: auto;
		min-height: 200px;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 45px;
		cursor: pointer;
	}
}