@use "../abstracts//variables" as *;
@use "sass:map";

@each $name,
$theme in $themes {
    .bg-#{$name} {
        background: map.get($theme, 'default');
        &-dark {
            background: map.get($theme, 'dark');
            &--hover:hover {
                background: map.get($theme, 'dark');
            }
        }
        &-light {
            background: map.get($theme, 'light');
            &--hover:hover {
                background: map.get($theme, 'light');
            }
        }
        &--hover:hover {
            background: map.get($theme, 'default');
        }
    }
    .clr-#{$name} {
        &,
        &::before,
        &::after {
            color: map.get($theme, 'default');
        }
        &-dark {
            &,
            &::before,
            &::after {
                color: map.get($theme, 'dark');
            }
            &--hover:hover {
                &,
                &::before,
                &::after {
                    color: map.get($theme, 'dark');
                }
            }
        }
        &-light {
            &,
            &::before,
            &::after {
                color: map.get($theme, 'light');
            }
            &--hover:hover {
                &,
                &::before,
                &::after {
                    color: map.get($theme, 'light');
                }
            }
        }
        &--hover:hover {
            &,
            &::before,
            &::after {
                color: map.get($theme, 'default');
            }
        }
    }
}