@use "../abstracts/variables" as *;
@use "../components/colors" as *;
@use "../base/typography" as *;


.label {
    @extend .font-size-xs;
    border-radius: 5px;
    color: $clr-default;
    padding: 0 4px;

    &.label-primary {
        @extend .bg-primary;
    }

    &.label-secondary {
        @extend .bg-secondary;
    }

    &.label-success {
        @extend .bg-success;
    }

    &.label-warning {
        @extend .bg-warning;
    }

    &.label-danger {
        @extend .bg-danger;
    }

    &.label-info {
        @extend .bg-info;
    }

    &.label-default {
        color: $clr-dark;
        @extend .bg-default;
    }

}