*,
::before,
::after {
  font-family: "GlacialIndifference";
  font-style: normal;
  text-decoration: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
select,
input:hover,
textarea:hover,
select:hover,
input:focus,
textarea:focus,
select:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  filter: none;
}

strong {
  font-weight: 900;
}

u {
  text-decoration: underline;
}

em {
  font-style: italic;
}

code {
  background: rgb(80, 80, 80);
  color: white;
  padding: 0 3px;
  margin: 0 3px;
  border-radius: 3px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
.font-size-xs, .label,
.font-size-sm,
.font-size-md,
.btn,
.font-size-lg,
.font-size-xl,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #454955;
  font-family: "GlacialIndifference";
}

p {
  font-size: 22px;
  letter-spacing: 0.008em;
}

.font-size-xs, .label, .font-size-xs::before, .label::before, .font-size-xs::after, .label::after {
  font-size: 15px;
}

.font-size-sm, .font-size-sm::before, .font-size-sm::after {
  font-size: 15px;
}

.font-size-md, .btn, .font-size-md::before, .btn::before, .font-size-md::after, .btn::after {
  font-size: 15px;
}

.font-size-lg, .font-size-lg::before, .font-size-lg::after {
  font-size: 18px;
}

.font-size-xl, .font-size-xl::before, .font-size-xl::after {
  font-size: 20px;
}

h1 {
  font-size: 72px;
  letter-spacing: 0.24em;
}

h2 {
  font-size: 72px;
  letter-spacing: 0.24em;
}

h3 {
  font-size: 26px;
  letter-spacing: 0.2em;
}

h4 {
  font-size: 15px;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.text-underline {
  text-decoration: underline;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "GlacialIndifference";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/GlacialIndifference/GlacialIndifference-Regular.otf") format("truetype");
}
@font-face {
  font-family: "GlacialIndifference";
  font-style: italic;
  font-weight: 500;
  src: url("../../assets/fonts/GlacialIndifference/GlacialIndifference-Italic.otf") format("truetype");
}
@font-face {
  font-family: "GlacialIndifference";
  font-style: bold;
  font-weight: 900;
  src: url("../../assets/fonts/GlacialIndifference/GlacialIndifference-Bold.otf") format("truetype");
}
@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 52px;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 62px;
  }
}
.z-index-5 {
  z-index: 5;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.block {
  display: block;
  width: 100%;
}

.uppsercase {
  text-transform: uppercase;
}

.crs-pointer {
  cursor: pointer;
}

.crs-not-allowed {
  cursor: not-allowed !important;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1 !important;
}

.hide {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.capitalize {
  text-transform: capitalize;
}

.scroll-y, .scroll {
  overflow-y: auto;
}

.scroll-x, .scroll {
  overflow-y: auto;
}

* {
  scrollbar-color: #6e6e6e #dcdcdc;
}

/* -- // modal -- */
/* -- scrollbar -- */
.scrollbar_success::-webkit-scrollbar {
  width: 8px;
}

.scrollbar_success::-webkit-scrollbar-track {
  border-radius: 15px;
  background: #dcdcdc;
}

.scrollbar_success::-webkit-scrollbar-thumb {
  background: #6e6e6e;
  border-radius: 15px;
}

.scrollbar_success::-webkit-scrollbar-thumb:hover {
  background: #2ec18b;
}

.scrollbar,
.scrollbar_success {
  scrollbar-color: #6e6e6e #dcdcdc;
  scrollbar-width: thin;
}

.pg {
  margin: 10px 10px 0 10px;
  background-color: #EEEEEE;
  padding: 20px 20px 0 20px;
}
@media (max-width: 576px) {
  .pg {
    margin: auto;
  }
}

ul.breadcrumbs li + li::before {
  margin: 0 5px 0 3px;
}
ul.breadcrumbs.breadcrumbs-slash li + li::before {
  content: "/";
}

.border-top {
  border-top: 1px solid #c9c9c9;
}

.border-top-success {
  border-top: 1px solid #2ec18b;
}

.border-right {
  border-right: 1px solid #c9c9c9;
}

.border-right-success {
  border-right: 1px solid #2ec18b;
}

.border-bottom {
  border-bottom: 1px solid #c9c9c9;
}

.border-bottom-success {
  border-bottom: 1px solid #2ec18b;
}

.border-left {
  border-left: 1px solid #c9c9c9;
}

.border-left-success {
  border-left: 1px solid #2ec18b;
}

.select-none {
  pointer-events: none;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.online-status {
  background-color: #DDDDDD;
  display: block;
  height: 15px;
  width: 15px;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

hr.header {
  border: unset;
  border-bottom: 2px solid #EB1D36;
  width: 55px;
}

.pg-gutters {
  margin-right: -35px !important;
  margin-left: -35px !important;
}
@media (max-width: 576px) {
  .pg-gutters {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
  .pg-gutters .col-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.svh-100 {
  height: 100svh;
}

@media (min-width: 576px) {
  .hide-lg {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
}
@media (min-width: 992px) {
  .hide-lg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hide-lg {
    display: unset;
  }
}
.flex, .modal-holder .modal, .modal-holder .modal .modal-content, .modal-holder .modal .modal-content span.close, .btn.btn__block {
  display: flex;
}
.flex.flex-inline, .modal-holder .flex-inline.modal, .modal-holder .modal .flex-inline.modal-content, .modal-holder .modal .modal-content span.flex-inline.close, .flex-inline.btn.btn__block {
  display: inline-flex;
}
.flex.flex-inline > *, .modal-holder .flex-inline.modal > *, .modal-holder .modal .flex-inline.modal-content > *, .modal-holder .modal .modal-content span.flex-inline.close > *, .flex-inline.btn.btn__block > * {
  align-items: stretch;
}
.flex.flex-wrap, .modal-holder .flex-wrap.modal, .modal-holder .modal .flex-wrap.modal-content, .modal-holder .modal .modal-content span.flex-wrap.close, .flex-wrap.btn.btn__block {
  flex-wrap: wrap;
}
.flex.flex-col, .modal-holder .flex-col.modal, .modal-holder .modal .modal-content span.flex-col.close, .flex-col.btn.btn__block, .modal-holder .modal .modal-content, .modal-holder .modal .modal-content span.close.modal-content {
  flex-direction: column;
}
.flex.flex-y, .modal-holder .flex-y.modal, .modal-holder .modal .flex-y.modal-content, .flex.flex-center, .modal-holder .flex-center.modal, .modal-holder .modal .flex-center.modal-content, .modal-holder .modal .modal-content span.close, .modal-holder .modal .modal-content.btn.btn__block, .btn.btn__block {
  align-items: center;
}
.flex.flex-y-end, .modal-holder .flex-y-end.modal, .modal-holder .modal .flex-y-end.modal-content, .modal-holder .modal .modal-content span.flex-y-end.close, .flex-y-end.btn.btn__block {
  align-items: flex-end;
}
.flex.flex-x, .modal-holder .modal .flex-x.modal-content, .modal-holder .modal, .modal-holder .modal .modal-content.modal, .flex.flex-center, .modal-holder .modal .flex-center.modal-content, .modal-holder .modal .modal-content span.close, .modal-holder .modal .modal-content.btn.btn__block, .btn.btn__block {
  justify-content: center;
}
.flex.flex-x-end, .modal-holder .flex-x-end.modal, .modal-holder .modal .flex-x-end.modal-content, .modal-holder .modal .modal-content span.flex-x-end.close, .flex-x-end.btn.btn__block {
  justify-content: flex-end;
}
.flex.flex-stretch > *, .modal-holder .flex-stretch.modal > *, .modal-holder .modal .flex-stretch.modal-content > *, .modal-holder .modal .modal-content span.flex-stretch.close > *, .flex-stretch.btn.btn__block > * {
  flex-grow: 10;
}
.flex.flex-reverse, .modal-holder .flex-reverse.modal, .modal-holder .modal .flex-reverse.modal-content, .modal-holder .modal .modal-content span.flex-reverse.close, .flex-reverse.btn.btn__block {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .flex.flex-collapse.flex-screen-xs, .modal-holder .flex-collapse.flex-screen-xs.modal, .modal-holder .modal .flex-collapse.flex-screen-xs.modal-content, .modal-holder .modal .modal-content span.flex-collapse.flex-screen-xs.close, .flex-collapse.flex-screen-xs.btn.btn__block {
    display: flow-root;
  }
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.list {
  list-style: none;
}
.list.list-bulleted, .list.list-numbered {
  list-style: inherit;
}
.list.list-bulleted > li, .list.list-numbered > li {
  margin-left: 20px;
}
.list.list-numbered {
  list-style: decimal;
}
.list.list-inline > li {
  display: inline;
}

/*margins */
.m-0 {
  margin: 0 !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

/*margin top */
.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

/*margin right */
.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

/*margin bottom */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

/*margin left */
.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mx-5 {
  margin: 0 5px;
}

.mx-10 {
  margin: 0 10px;
}

.mx-15 {
  margin: 0 15px;
}

.mx-20 {
  margin: 0 20px;
}

.mx-30 {
  margin: 0 30px;
}

.mx-40 {
  margin: 0 40px;
}

.mx-50 {
  margin: 0 50px;
}

.my-5 {
  margin: 5px 0;
}

.my-10 {
  margin: 10px 0;
}

.my-15 {
  margin: 15px 0;
}

.my-20 {
  margin: 20px 0;
}

.my-30 {
  margin: 30px 0;
}

.my-40 {
  margin: 40px 0;
}

.my-50 {
  margin: 50px 0;
}

/*padding top */
.p-0 {
  padding: 0 !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

/*padding right */
.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

/*padding bottom */
.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

/*padding left */
.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.px-5 {
  padding: 0 5px;
}

.px-10 {
  padding: 0 10px;
}

.px-15 {
  padding: 0 15px;
}

.px-20 {
  padding: 0 20px;
}

.px-30 {
  padding: 0 30px;
}

.px-40 {
  padding: 0 40px;
}

.px-50 {
  padding: 0 50px;
}

.py-5 {
  padding: 5px 0;
}

.py-10 {
  padding: 10px 0;
}

.py-15 {
  padding: 15px 0;
}

.py-20 {
  padding: 20px 0;
}

.py-30 {
  padding: 30px 0;
}

.py-40 {
  padding: 40px 0;
}

.py-50 {
  padding: 50px 0;
}

.radius-5 {
  border-radius: 5%;
}

.radius-100 {
  border-radius: 100%;
}

.radius-25 {
  border-radius: 25px;
}

.h-0 {
  height: 0;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100, .modal-holder .modal .modal-content .modal-body, .pg {
  height: 100%;
}

.h-max-25 {
  max-height: 25%;
}

.h-max-50 {
  max-height: 50%;
}

.h-max-75 {
  max-height: 75%;
}

.h-max-100 {
  max-height: 100%;
}

.w-0 {
  width: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100, .pg {
  width: 100%;
}

.pg {
  position: relative;
}

.control-size-sm, .btn.btn__sm {
  height: 30px;
  max-height: 30px;
  min-height: 30px;
}

.control-size-md, .btn {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
}

.control-size-lg, .btn.btn__lg {
  height: 60px;
  max-height: 60px;
  min-height: 60px;
}

.btn {
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -webkit-text-fill-color: unset;
  filter: unset;
  padding: 0 25px;
  border: none;
  cursor: pointer;
  transition: background-color 200ms, color 200ms, border 200ms;
  text-transform: capitalize;
  vertical-align: middle;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
}
.btn {
  transition: background-color 200ms, color 200ms, border 200ms;
}
.btn:hover, .btn:focus {
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -webkit-text-fill-color: unset;
  filter: unset;
}
.btn.btn__radius {
  border-radius: 5px;
}
.btn.btn__block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn .icon {
  font-size: 19px;
  margin-right: 10px;
  margin-top: -2px;
  transition: color 200ms;
}
.btn .icon::before, .btn .icon::after {
  color: white;
  transition: color 200ms;
}
.btn.btn__sm {
  padding: 5px 25px;
}
.btn.btn__sm > .icon {
  margin-top: 0;
  font-size: 15px;
}
.btn.btn__lg {
  padding: 5px 25px;
}
.btn.btn__lg > .icon {
  margin-top: 0;
  font-size: 15px;
}
.btn.btn-extra-dark {
  background-color: #6E6E6E;
  color: #FFFFFF;
  border: solid 2px #6E6E6E;
}
.btn.btn-extra-dark:hover {
  background-color: #bf2c3e;
  border-color: #bf2c3e;
}
.btn.btn-extra-dark.btn__outline {
  background-color: unset;
  color: #6E6E6E;
}
.btn.btn-extra-dark.btn__outline:hover {
  color: #bf2c3e;
}
.btn.btn-extra-dark.btn__outline:hover .icon, .btn.btn-extra-dark.btn__outline:hover .icon::before, .btn.btn-extra-dark.btn__outline:hover .icon::after,
.btn.btn-extra-dark.btn__outline:hover .text,
.btn.btn-extra-dark.btn__outline:hover .text::before,
.btn.btn-extra-dark.btn__outline:hover .text::after {
  color: #bf2c3e;
}
.btn.btn-extra-dark.btn__outline .btn__icon, .btn.btn-extra-dark.btn__outline .btn__icon::before, .btn.btn-extra-dark.btn__outline .btn__icon::after,
.btn.btn-extra-dark.btn__outline .btn__text,
.btn.btn-extra-dark.btn__outline .btn__text::before,
.btn.btn-extra-dark.btn__outline .btn__text::after {
  color: #6E6E6E;
}
.btn.btn-dark {
  background-color: #6E6E6E;
  color: #FFFFFF;
  border: solid 2px #6E6E6E;
}
.btn.btn-dark:hover {
  background-color: #6E6E6E;
  border-color: #6E6E6E;
}
.btn.btn-dark.btn__outline {
  background-color: unset;
  color: #6E6E6E;
}
.btn.btn-dark.btn__outline:hover {
  color: #6E6E6E;
}
.btn.btn-dark.btn__outline:hover .icon, .btn.btn-dark.btn__outline:hover .icon::before, .btn.btn-dark.btn__outline:hover .icon::after,
.btn.btn-dark.btn__outline:hover .text,
.btn.btn-dark.btn__outline:hover .text::before,
.btn.btn-dark.btn__outline:hover .text::after {
  color: #6E6E6E;
}
.btn.btn-dark.btn__outline .btn__icon, .btn.btn-dark.btn__outline .btn__icon::before, .btn.btn-dark.btn__outline .btn__icon::after,
.btn.btn-dark.btn__outline .btn__text,
.btn.btn-dark.btn__outline .btn__text::before,
.btn.btn-dark.btn__outline .btn__text::after {
  color: #6E6E6E;
}
.btn.btn-light {
  background-color: #DDDDDD;
  color: #FFFFFF;
  border: solid 2px #DDDDDD;
}
.btn.btn-light:hover {
  background-color: #E4E5E6;
  border-color: #E4E5E6;
}
.btn.btn-light.btn__outline {
  background-color: unset;
  color: #DDDDDD;
}
.btn.btn-light.btn__outline:hover {
  color: #E4E5E6;
}
.btn.btn-light.btn__outline:hover .icon, .btn.btn-light.btn__outline:hover .icon::before, .btn.btn-light.btn__outline:hover .icon::after,
.btn.btn-light.btn__outline:hover .text,
.btn.btn-light.btn__outline:hover .text::before,
.btn.btn-light.btn__outline:hover .text::after {
  color: #E4E5E6;
}
.btn.btn-light.btn__outline .btn__icon, .btn.btn-light.btn__outline .btn__icon::before, .btn.btn-light.btn__outline .btn__icon::after,
.btn.btn-light.btn__outline .btn__text,
.btn.btn-light.btn__outline .btn__text::before,
.btn.btn-light.btn__outline .btn__text::after {
  color: #DDDDDD;
}
.btn.btn-extra-light {
  background-color: #E4E5E6;
  color: #FFFFFF;
  border: solid 2px #E4E5E6;
}
.btn.btn-extra-light:hover {
  background-color: #bf2c3e;
  border-color: #bf2c3e;
}
.btn.btn-extra-light.btn__outline {
  background-color: unset;
  color: #E4E5E6;
}
.btn.btn-extra-light.btn__outline:hover {
  color: #bf2c3e;
}
.btn.btn-extra-light.btn__outline:hover .icon, .btn.btn-extra-light.btn__outline:hover .icon::before, .btn.btn-extra-light.btn__outline:hover .icon::after,
.btn.btn-extra-light.btn__outline:hover .text,
.btn.btn-extra-light.btn__outline:hover .text::before,
.btn.btn-extra-light.btn__outline:hover .text::after {
  color: #bf2c3e;
}
.btn.btn-extra-light.btn__outline .btn__icon, .btn.btn-extra-light.btn__outline .btn__icon::before, .btn.btn-extra-light.btn__outline .btn__icon::after,
.btn.btn-extra-light.btn__outline .btn__text,
.btn.btn-extra-light.btn__outline .btn__text::before,
.btn.btn-extra-light.btn__outline .btn__text::after {
  color: #E4E5E6;
}
.btn.btn-default {
  background-color: #FFFFFF;
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
}
.btn.btn-default:hover {
  background-color: #6E6E6E;
  border-color: #6E6E6E;
}
.btn.btn-default.btn__outline {
  background-color: unset;
  color: #FFFFFF;
}
.btn.btn-default.btn__outline:hover {
  color: #6E6E6E;
}
.btn.btn-default.btn__outline:hover .icon, .btn.btn-default.btn__outline:hover .icon::before, .btn.btn-default.btn__outline:hover .icon::after,
.btn.btn-default.btn__outline:hover .text,
.btn.btn-default.btn__outline:hover .text::before,
.btn.btn-default.btn__outline:hover .text::after {
  color: #6E6E6E;
}
.btn.btn-default.btn__outline .btn__icon, .btn.btn-default.btn__outline .btn__icon::before, .btn.btn-default.btn__outline .btn__icon::after,
.btn.btn-default.btn__outline .btn__text,
.btn.btn-default.btn__outline .btn__text::before,
.btn.btn-default.btn__outline .btn__text::after {
  color: #FFFFFF;
}
.btn.btn-primary {
  background-color: #FBFF00;
  color: #FFFFFF;
  border: solid 2px #FBFF00;
}
.btn.btn-primary:hover {
  background-color: #546D82;
  border-color: #546D82;
}
.btn.btn-primary.btn__outline {
  background-color: unset;
  color: #FBFF00;
}
.btn.btn-primary.btn__outline:hover {
  color: #546D82;
}
.btn.btn-primary.btn__outline:hover .icon, .btn.btn-primary.btn__outline:hover .icon::before, .btn.btn-primary.btn__outline:hover .icon::after,
.btn.btn-primary.btn__outline:hover .text,
.btn.btn-primary.btn__outline:hover .text::before,
.btn.btn-primary.btn__outline:hover .text::after {
  color: #546D82;
}
.btn.btn-primary.btn__outline .btn__icon, .btn.btn-primary.btn__outline .btn__icon::before, .btn.btn-primary.btn__outline .btn__icon::after,
.btn.btn-primary.btn__outline .btn__text,
.btn.btn-primary.btn__outline .btn__text::before,
.btn.btn-primary.btn__outline .btn__text::after {
  color: #FBFF00;
}
.btn.btn-secondary {
  background-color: #EB1D36;
  color: #FFFFFF;
  border: solid 2px #EB1D36;
}
.btn.btn-secondary:hover {
  background-color: #bf2c3e;
  border-color: #bf2c3e;
}
.btn.btn-secondary.btn__outline {
  background-color: unset;
  color: #EB1D36;
}
.btn.btn-secondary.btn__outline:hover {
  color: #bf2c3e;
}
.btn.btn-secondary.btn__outline:hover .icon, .btn.btn-secondary.btn__outline:hover .icon::before, .btn.btn-secondary.btn__outline:hover .icon::after,
.btn.btn-secondary.btn__outline:hover .text,
.btn.btn-secondary.btn__outline:hover .text::before,
.btn.btn-secondary.btn__outline:hover .text::after {
  color: #bf2c3e;
}
.btn.btn-secondary.btn__outline .btn__icon, .btn.btn-secondary.btn__outline .btn__icon::before, .btn.btn-secondary.btn__outline .btn__icon::after,
.btn.btn-secondary.btn__outline .btn__text,
.btn.btn-secondary.btn__outline .btn__text::before,
.btn.btn-secondary.btn__outline .btn__text::after {
  color: #EB1D36;
}
.btn.btn-success {
  background-color: #2ec18b;
  color: #FFFFFF;
  border: solid 2px #2ec18b;
}
.btn.btn-success:hover {
  background-color: #1a8960;
  border-color: #1a8960;
}
.btn.btn-success.btn__outline {
  background-color: unset;
  color: #2ec18b;
}
.btn.btn-success.btn__outline:hover {
  color: #1a8960;
}
.btn.btn-success.btn__outline:hover .icon, .btn.btn-success.btn__outline:hover .icon::before, .btn.btn-success.btn__outline:hover .icon::after,
.btn.btn-success.btn__outline:hover .text,
.btn.btn-success.btn__outline:hover .text::before,
.btn.btn-success.btn__outline:hover .text::after {
  color: #1a8960;
}
.btn.btn-success.btn__outline .btn__icon, .btn.btn-success.btn__outline .btn__icon::before, .btn.btn-success.btn__outline .btn__icon::after,
.btn.btn-success.btn__outline .btn__text,
.btn.btn-success.btn__outline .btn__text::before,
.btn.btn-success.btn__outline .btn__text::after {
  color: #2ec18b;
}
.btn.btn-info {
  background-color: #2991AC;
  color: #FFFFFF;
  border: solid 2px #2991AC;
}
.btn.btn-info:hover {
  background-color: #2991AC;
  border-color: #2991AC;
}
.btn.btn-info.btn__outline {
  background-color: unset;
  color: #2991AC;
}
.btn.btn-info.btn__outline:hover {
  color: #2991AC;
}
.btn.btn-info.btn__outline:hover .icon, .btn.btn-info.btn__outline:hover .icon::before, .btn.btn-info.btn__outline:hover .icon::after,
.btn.btn-info.btn__outline:hover .text,
.btn.btn-info.btn__outline:hover .text::before,
.btn.btn-info.btn__outline:hover .text::after {
  color: #2991AC;
}
.btn.btn-info.btn__outline .btn__icon, .btn.btn-info.btn__outline .btn__icon::before, .btn.btn-info.btn__outline .btn__icon::after,
.btn.btn-info.btn__outline .btn__text,
.btn.btn-info.btn__outline .btn__text::before,
.btn.btn-info.btn__outline .btn__text::after {
  color: #2991AC;
}
.btn.btn-warning {
  background-color: #ff6600;
  color: #FFFFFF;
  border: solid 2px #ff6600;
}
.btn.btn-warning:hover {
  background-color: #ff6600;
  border-color: #ff6600;
}
.btn.btn-warning.btn__outline {
  background-color: unset;
  color: #ff6600;
}
.btn.btn-warning.btn__outline:hover {
  color: #ff6600;
}
.btn.btn-warning.btn__outline:hover .icon, .btn.btn-warning.btn__outline:hover .icon::before, .btn.btn-warning.btn__outline:hover .icon::after,
.btn.btn-warning.btn__outline:hover .text,
.btn.btn-warning.btn__outline:hover .text::before,
.btn.btn-warning.btn__outline:hover .text::after {
  color: #ff6600;
}
.btn.btn-warning.btn__outline .btn__icon, .btn.btn-warning.btn__outline .btn__icon::before, .btn.btn-warning.btn__outline .btn__icon::after,
.btn.btn-warning.btn__outline .btn__text,
.btn.btn-warning.btn__outline .btn__text::before,
.btn.btn-warning.btn__outline .btn__text::after {
  color: #ff6600;
}
.btn.btn-danger {
  background-color: #ad6565;
  color: #FFFFFF;
  border: solid 2px #ad6565;
}
.btn.btn-danger:hover {
  background-color: #D50108;
  border-color: #D50108;
}
.btn.btn-danger.btn__outline {
  background-color: unset;
  color: #ad6565;
}
.btn.btn-danger.btn__outline:hover {
  color: #D50108;
}
.btn.btn-danger.btn__outline:hover .icon, .btn.btn-danger.btn__outline:hover .icon::before, .btn.btn-danger.btn__outline:hover .icon::after,
.btn.btn-danger.btn__outline:hover .text,
.btn.btn-danger.btn__outline:hover .text::before,
.btn.btn-danger.btn__outline:hover .text::after {
  color: #D50108;
}
.btn.btn-danger.btn__outline .btn__icon, .btn.btn-danger.btn__outline .btn__icon::before, .btn.btn-danger.btn__outline .btn__icon::after,
.btn.btn-danger.btn__outline .btn__text,
.btn.btn-danger.btn__outline .btn__text::before,
.btn.btn-danger.btn__outline .btn__text::after {
  color: #ad6565;
}

.bg-extra-dark {
  background: #6E6E6E;
}
.bg-extra-dark-dark {
  background: #bf2c3e;
}
.bg-extra-dark-dark--hover:hover {
  background: #bf2c3e;
}
.bg-extra-dark-light {
  background: #bf2c3e;
}
.bg-extra-dark-light--hover:hover {
  background: #bf2c3e;
}
.bg-extra-dark--hover:hover {
  background: #6E6E6E;
}

.clr-extra-dark, .clr-extra-dark::before, .clr-extra-dark::after {
  color: #6E6E6E;
}
.clr-extra-dark-dark, .clr-extra-dark-dark::before, .clr-extra-dark-dark::after {
  color: #bf2c3e;
}
.clr-extra-dark-dark--hover:hover, .clr-extra-dark-dark--hover:hover::before, .clr-extra-dark-dark--hover:hover::after {
  color: #bf2c3e;
}
.clr-extra-dark-light, .clr-extra-dark-light::before, .clr-extra-dark-light::after {
  color: #bf2c3e;
}
.clr-extra-dark-light--hover:hover, .clr-extra-dark-light--hover:hover::before, .clr-extra-dark-light--hover:hover::after {
  color: #bf2c3e;
}
.clr-extra-dark--hover:hover, .clr-extra-dark--hover:hover::before, .clr-extra-dark--hover:hover::after {
  color: #6E6E6E;
}

.bg-dark {
  background: #6E6E6E;
}
.bg-dark-dark {
  background: #6E6E6E;
}
.bg-dark-dark--hover:hover {
  background: #6E6E6E;
}
.bg-dark-light {
  background: #DDDDDD;
}
.bg-dark-light--hover:hover {
  background: #DDDDDD;
}
.bg-dark--hover:hover {
  background: #6E6E6E;
}

.clr-dark, .clr-dark::before, .clr-dark::after {
  color: #6E6E6E;
}
.clr-dark-dark, .clr-dark-dark::before, .clr-dark-dark::after {
  color: #6E6E6E;
}
.clr-dark-dark--hover:hover, .clr-dark-dark--hover:hover::before, .clr-dark-dark--hover:hover::after {
  color: #6E6E6E;
}
.clr-dark-light, .clr-dark-light::before, .clr-dark-light::after {
  color: #DDDDDD;
}
.clr-dark-light--hover:hover, .clr-dark-light--hover:hover::before, .clr-dark-light--hover:hover::after {
  color: #DDDDDD;
}
.clr-dark--hover:hover, .clr-dark--hover:hover::before, .clr-dark--hover:hover::after {
  color: #6E6E6E;
}

.bg-light {
  background: #DDDDDD;
}
.bg-light-dark {
  background: #E4E5E6;
}
.bg-light-dark--hover:hover {
  background: #E4E5E6;
}
.bg-light-light {
  background: #E4E5E6;
}
.bg-light-light--hover:hover {
  background: #E4E5E6;
}
.bg-light--hover:hover {
  background: #DDDDDD;
}

.clr-light, .clr-light::before, .clr-light::after {
  color: #DDDDDD;
}
.clr-light-dark, .clr-light-dark::before, .clr-light-dark::after {
  color: #E4E5E6;
}
.clr-light-dark--hover:hover, .clr-light-dark--hover:hover::before, .clr-light-dark--hover:hover::after {
  color: #E4E5E6;
}
.clr-light-light, .clr-light-light::before, .clr-light-light::after {
  color: #E4E5E6;
}
.clr-light-light--hover:hover, .clr-light-light--hover:hover::before, .clr-light-light--hover:hover::after {
  color: #E4E5E6;
}
.clr-light--hover:hover, .clr-light--hover:hover::before, .clr-light--hover:hover::after {
  color: #DDDDDD;
}

.bg-extra-light {
  background: #E4E5E6;
}
.bg-extra-light-dark {
  background: #bf2c3e;
}
.bg-extra-light-dark--hover:hover {
  background: #bf2c3e;
}
.bg-extra-light-light {
  background: #bf2c3e;
}
.bg-extra-light-light--hover:hover {
  background: #bf2c3e;
}
.bg-extra-light--hover:hover {
  background: #E4E5E6;
}

.clr-extra-light, .clr-extra-light::before, .clr-extra-light::after {
  color: #E4E5E6;
}
.clr-extra-light-dark, .clr-extra-light-dark::before, .clr-extra-light-dark::after {
  color: #bf2c3e;
}
.clr-extra-light-dark--hover:hover, .clr-extra-light-dark--hover:hover::before, .clr-extra-light-dark--hover:hover::after {
  color: #bf2c3e;
}
.clr-extra-light-light, .clr-extra-light-light::before, .clr-extra-light-light::after {
  color: #bf2c3e;
}
.clr-extra-light-light--hover:hover, .clr-extra-light-light--hover:hover::before, .clr-extra-light-light--hover:hover::after {
  color: #bf2c3e;
}
.clr-extra-light--hover:hover, .clr-extra-light--hover:hover::before, .clr-extra-light--hover:hover::after {
  color: #E4E5E6;
}

.bg-default, .label.label-default {
  background: #FFFFFF;
}
.bg-default-dark {
  background: #6E6E6E;
}
.bg-default-dark--hover:hover {
  background: #6E6E6E;
}
.bg-default-light {
  background: #DDDDDD;
}
.bg-default-light--hover:hover {
  background: #DDDDDD;
}
.bg-default--hover:hover {
  background: #FFFFFF;
}

.clr-default, .clr-default::before, .clr-default::after {
  color: #FFFFFF;
}
.clr-default-dark, .clr-default-dark::before, .clr-default-dark::after {
  color: #6E6E6E;
}
.clr-default-dark--hover:hover, .clr-default-dark--hover:hover::before, .clr-default-dark--hover:hover::after {
  color: #6E6E6E;
}
.clr-default-light, .clr-default-light::before, .clr-default-light::after {
  color: #DDDDDD;
}
.clr-default-light--hover:hover, .clr-default-light--hover:hover::before, .clr-default-light--hover:hover::after {
  color: #DDDDDD;
}
.clr-default--hover:hover, .clr-default--hover:hover::before, .clr-default--hover:hover::after {
  color: #FFFFFF;
}

.bg-primary, .label.label-primary {
  background: #FBFF00;
}
.bg-primary-dark {
  background: #546D82;
}
.bg-primary-dark--hover:hover {
  background: #546D82;
}
.bg-primary-light {
  background: #546D82;
}
.bg-primary-light--hover:hover {
  background: #546D82;
}
.bg-primary--hover:hover {
  background: #FBFF00;
}

.clr-primary, .clr-primary::before, .clr-primary::after {
  color: #FBFF00;
}
.clr-primary-dark, .clr-primary-dark::before, .clr-primary-dark::after {
  color: #546D82;
}
.clr-primary-dark--hover:hover, .clr-primary-dark--hover:hover::before, .clr-primary-dark--hover:hover::after {
  color: #546D82;
}
.clr-primary-light, .clr-primary-light::before, .clr-primary-light::after {
  color: #546D82;
}
.clr-primary-light--hover:hover, .clr-primary-light--hover:hover::before, .clr-primary-light--hover:hover::after {
  color: #546D82;
}
.clr-primary--hover:hover, .clr-primary--hover:hover::before, .clr-primary--hover:hover::after {
  color: #FBFF00;
}

.bg-secondary, .label.label-secondary {
  background: #EB1D36;
}
.bg-secondary-dark {
  background: #bf2c3e;
}
.bg-secondary-dark--hover:hover {
  background: #bf2c3e;
}
.bg-secondary-light {
  background: #bf2c3e;
}
.bg-secondary-light--hover:hover {
  background: #bf2c3e;
}
.bg-secondary--hover:hover {
  background: #EB1D36;
}

.clr-secondary, .clr-secondary::before, .clr-secondary::after {
  color: #EB1D36;
}
.clr-secondary-dark, .clr-secondary-dark::before, .clr-secondary-dark::after {
  color: #bf2c3e;
}
.clr-secondary-dark--hover:hover, .clr-secondary-dark--hover:hover::before, .clr-secondary-dark--hover:hover::after {
  color: #bf2c3e;
}
.clr-secondary-light, .clr-secondary-light::before, .clr-secondary-light::after {
  color: #bf2c3e;
}
.clr-secondary-light--hover:hover, .clr-secondary-light--hover:hover::before, .clr-secondary-light--hover:hover::after {
  color: #bf2c3e;
}
.clr-secondary--hover:hover, .clr-secondary--hover:hover::before, .clr-secondary--hover:hover::after {
  color: #EB1D36;
}

.bg-success, .label.label-success {
  background: #2ec18b;
}
.bg-success-dark {
  background: #1a8960;
}
.bg-success-dark--hover:hover {
  background: #1a8960;
}
.bg-success-light {
  background: #4bd5a2;
}
.bg-success-light--hover:hover {
  background: #4bd5a2;
}
.bg-success--hover:hover {
  background: #2ec18b;
}

.clr-success, .clr-success::before, .clr-success::after {
  color: #2ec18b;
}
.clr-success-dark, .clr-success-dark::before, .clr-success-dark::after {
  color: #1a8960;
}
.clr-success-dark--hover:hover, .clr-success-dark--hover:hover::before, .clr-success-dark--hover:hover::after {
  color: #1a8960;
}
.clr-success-light, .clr-success-light::before, .clr-success-light::after {
  color: #4bd5a2;
}
.clr-success-light--hover:hover, .clr-success-light--hover:hover::before, .clr-success-light--hover:hover::after {
  color: #4bd5a2;
}
.clr-success--hover:hover, .clr-success--hover:hover::before, .clr-success--hover:hover::after {
  color: #2ec18b;
}

.bg-info, .label.label-info {
  background: #2991AC;
}
.bg-info-dark {
  background: #2991AC;
}
.bg-info-dark--hover:hover {
  background: #2991AC;
}
.bg-info-light {
  background: #2991AC;
}
.bg-info-light--hover:hover {
  background: #2991AC;
}
.bg-info--hover:hover {
  background: #2991AC;
}

.clr-info, .clr-info::before, .clr-info::after {
  color: #2991AC;
}
.clr-info-dark, .clr-info-dark::before, .clr-info-dark::after {
  color: #2991AC;
}
.clr-info-dark--hover:hover, .clr-info-dark--hover:hover::before, .clr-info-dark--hover:hover::after {
  color: #2991AC;
}
.clr-info-light, .clr-info-light::before, .clr-info-light::after {
  color: #2991AC;
}
.clr-info-light--hover:hover, .clr-info-light--hover:hover::before, .clr-info-light--hover:hover::after {
  color: #2991AC;
}
.clr-info--hover:hover, .clr-info--hover:hover::before, .clr-info--hover:hover::after {
  color: #2991AC;
}

.bg-warning, .label.label-warning {
  background: #ff6600;
}
.bg-warning-dark {
  background: #ff6600;
}
.bg-warning-dark--hover:hover {
  background: #ff6600;
}
.bg-warning-light {
  background: #ff6600;
}
.bg-warning-light--hover:hover {
  background: #ff6600;
}
.bg-warning--hover:hover {
  background: #ff6600;
}

.clr-warning, .clr-warning::before, .clr-warning::after {
  color: #ff6600;
}
.clr-warning-dark, .clr-warning-dark::before, .clr-warning-dark::after {
  color: #ff6600;
}
.clr-warning-dark--hover:hover, .clr-warning-dark--hover:hover::before, .clr-warning-dark--hover:hover::after {
  color: #ff6600;
}
.clr-warning-light, .clr-warning-light::before, .clr-warning-light::after {
  color: #ff6600;
}
.clr-warning-light--hover:hover, .clr-warning-light--hover:hover::before, .clr-warning-light--hover:hover::after {
  color: #ff6600;
}
.clr-warning--hover:hover, .clr-warning--hover:hover::before, .clr-warning--hover:hover::after {
  color: #ff6600;
}

.bg-danger, .label.label-danger {
  background: #ad6565;
}
.bg-danger-dark {
  background: #D50108;
}
.bg-danger-dark--hover:hover {
  background: #D50108;
}
.bg-danger-light {
  background: #ad6565;
}
.bg-danger-light--hover:hover {
  background: #ad6565;
}
.bg-danger--hover:hover {
  background: #ad6565;
}

.clr-danger, .clr-danger::before, .clr-danger::after {
  color: #ad6565;
}
.clr-danger-dark, .clr-danger-dark::before, .clr-danger-dark::after {
  color: #D50108;
}
.clr-danger-dark--hover:hover, .clr-danger-dark--hover:hover::before, .clr-danger-dark--hover:hover::after {
  color: #D50108;
}
.clr-danger-light, .clr-danger-light::before, .clr-danger-light::after {
  color: #ad6565;
}
.clr-danger-light--hover:hover, .clr-danger-light--hover:hover::before, .clr-danger-light--hover:hover::after {
  color: #ad6565;
}
.clr-danger--hover:hover, .clr-danger--hover:hover::before, .clr-danger--hover:hover::after {
  color: #ad6565;
}

.form-control {
  display: block;
  width: 100%;
  border: unset;
  outline: unset;
  background-color: #D8D8D8;
  box-shadow: unset;
  -webkit-box-shadow: 0 0 0px 1000px #D8D8D8 inset;
  padding: 10px 5px;
}
.form-control::placeholder {
  color: #262626;
}

.modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.modal-holder.hidden {
  display: none;
}
.modal-holder .modal {
  z-index: 600;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-holder .modal .modal-content {
  margin-bottom: auto;
  top: 10%;
  max-height: 80%;
  background-color: #ffffff;
  max-width: 1025px;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 45px;
  padding-bottom: 55px;
  padding-left: 45px;
  position: relative;
}
.modal-holder .modal .modal-content .modal-body {
  overflow: hidden;
}
.modal-holder .modal .modal-content .modal-footer {
  padding-top: 40px;
}
.modal-holder .modal .modal-content span.close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #6E6E6E;
  transition: transform 300ms, color 300ms;
  height: 24px;
  width: 24px;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
}
.modal-holder .modal .modal-content span.close:hover {
  color: #ad6565;
  transform: rotate(90deg);
  transform-origin: center center;
}
.modal-holder .modal .modal-content.sm {
  width: 550px;
}
.modal-holder .modal .modal-content.lg {
  width: 90%;
}

.label {
  color: #FFFFFF;
  padding: 0 4px;
  border-radius: 5px;
}
.label.label-default {
  color: #6E6E6E;
}

#home-banner {
  background: url("../../assets/images/header-splash.webp");
  height: 625px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
}
#home-banner h1 {
  margin-top: 120px;
}
#home-banner h2 {
  letter-spacing: 0.24em;
  font-size: 44px;
}
#home-banner p {
  letter-spacing: 0.017em;
  font-size: 15px;
}
#home-banner .mt-c-lg {
  margin-top: 165px;
}
@media (min-width: 768px) {
  #home-banner .mt-c-lg {
    margin-top: 65px;
  }
  #home-banner p {
    text-align: center !important;
  }
}

#my-canvas {
  padding: 25px 0 60px 60px;
}
#my-canvas .img-video {
  width: 420px;
  height: 540px;
  background-image: url("https://placehold.co/420x540/000000/FFF");
  margin-left: -40px;
}
@media (min-width: 576px) {
  #my-canvas {
    padding: 25px;
  }
  #my-canvas .col-sm-show {
    display: unset;
  }
  #my-canvas .col-sm-hide {
    display: none;
  }
  #my-canvas p {
    text-align: center;
    padding: 0;
  }
  #my-canvas .img-video {
    margin-left: 0px;
  }
}
@media (min-width: 768px) {
  #my-canvas .col-img-video {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  #my-canvas .img-video {
    transform: scale(0.8);
  }
  #my-canvas .col-sm-show {
    display: none;
  }
  #my-canvas .col-sm-hide {
    display: unset;
  }
  #my-canvas p {
    padding-right: 70px;
  }
}
#gallery h2 {
  margin: 60px 0;
}
#gallery .gallery-card {
  padding: 0 25px 0 25px;
  margin-bottom: 60px;
}
#gallery .gallery-card p {
  font-size: 16px;
}
#gallery .gallery-card .title {
  font-size: 22px;
  letter-spacing: 0.094em;
  padding: 25px 0;
  text-transform: uppercase;
}
#gallery .gallery-card .img img {
  height: 220px;
  background-position: center;
  background-size: cover;
}
#gallery .gallery-card hr {
  margin: 10px 0;
}
#gallery .section-portrait {
  padding-bottom: 20px;
}
#gallery .section-portrait .portrait-lg {
  background-position: center;
  background-size: cover;
  height: 600px;
  margin: 0 0 0 10px;
}
#gallery .section-portrait .portrait {
  background-position: center;
  background-size: cover;
  height: 390px;
  margin-top: 20px;
}
#gallery .section-portrait .title {
  padding: 20px 0 0 0;
}

#splash-01 {
  padding: 20px 30px;
}
#splash-01 h2 {
  font-size: 60px;
  letter-spacing: 0.12em;
}
#splash-01 .img-cloud img {
  background-position: center;
  background-size: cover;
  height: 580px;
}
@media (min-width: 992px) {
  #splash-01 h2 {
    font-size: 54px;
  }
}

#splash-02 {
  padding: 20px 30px 20px 40px;
}
#splash-02 h2 {
  font-size: 60px;
  letter-spacing: 0.3em;
  margin-bottom: 40px;
  padding-top: 120px;
}
#splash-02 .img-cloud {
  background-position: center;
  background-size: cover;
  height: 580px;
  min-height: 580px;
}
#splash-02 h3 {
  font-size: 21px;
  margin-bottom: 25px;
}
#splash-02 p {
  font-size: 16px;
  margin-bottom: 35px;
}
@media (min-width: 576px) {
  #splash-02 .col-rev {
    flex-direction: column-reverse;
  }
}
@media (min-width: 992px) {
  #splash-02 .col-rev {
    flex-direction: unset;
  }
  #splash-02 h2 {
    font-size: 50px;
    letter-spacing: 0.3em;
  }
}

#SITU {
  padding-bottom: 60px;
}
#SITU h2 {
  font-size: 60px;
  padding: 50px 0 30px 0;
}
#SITU #situ-bg {
  background-image: url("../../assets/images/situ-bg.webp");
  background-position: center;
  background-size: cover;
  width: 700px;
  height: 450px;
  position: relative;
}
#SITU #situ {
  object-position: center;
  background-size: cover;
  width: 180px;
  height: auto;
  min-height: 200px;
  max-height: 240px;
  overflow: hidden;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 45px;
  cursor: pointer;
}

#contact {
  padding: 15px;
}
#contact h2 {
  font-size: 60px;
  padding: 45px 0 0 30px;
}
#contact .img-bg {
  position: relative;
  background-image: url("https://placehold.co/345x590/000000/FFF");
  background-position: center;
  background-size: cover;
  height: 590px;
  width: 345px;
  margin-left: auto;
}
#contact .img-splash {
  position: absolute;
  background-image: url("https://placehold.co/305x465/555555/777");
  background-position: center;
  background-size: cover;
  height: 465px;
  width: 305px;
  margin-left: auto;
  margin-top: 70px;
  right: 280px;
}
#contact .contact-details {
  margin-left: 30px;
  position: absolute;
  margin-top: auto;
  bottom: 0;
}
#contact .contact-details h3 {
  font-size: 22px;
  margin-bottom: 5px;
}
#contact .contact-details ul {
  margin-bottom: 30px;
}
body,
html {
  background-color: #F2F2F2;
}

section {
  background: #E4E4E4;
  background: linear-gradient(180deg, rgb(228, 228, 228) 0%, rgb(218, 218, 218) 100%);
  box-shadow: 0px 5px 5px rgba(158, 158, 158, 0.1) inset;
}

/*# sourceMappingURL=main.css.map */
